<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Billing </title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Icon -->
    <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
        
  <div>
    <h2 class="form-title">Billing Management Software</h2> 
    <p>
    This is a Python-based Invoice Creation Software for Small Businesses. 
    It's just plug and play. You can easily add your products and their quantities,
    it calculates for you and generates an invoice in DOC format. 
    This software automatically manages your GST   </p>
  </div> 
  <div>
    <figure><img src="static/images/software.png" alt="sign up image"></figure>
    <a  class="form-submit" href="/login">Sign In</a>  
    <a  class="form-submit" href="/register">Sign Up</a>  
  </div>    

    <!-- JS -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/js/main.js"></script>
    <script>
    var check = function() {
      if (document.getElementById('pass').value ==
        document.getElementById('re_pass').value) {
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = 'Password Match';
      } else {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'Password Should be same';
      }
    }
  </script>
</body>
</html>